doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type='text/javascript' src="https://cdn.plot.ly/plotly-1.31.2.min.js")
    script(type='text/javascript' src="/js/graph.js")
